<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Image Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='intro.css') }}">
    <style>
        
    </style>
</head>
<body>
    <h1>Welcome to our image classifier solution page</h1>
    <p>Classify your images into categories like airplane, automobile, bird, and more!</p>
    <a href="/upload">Get Started</a>
    <footer>
        Powered by <span class="innovex">Innovex Solutions</span>
    </footer>
</body>
</html>
